--ion-toolbar-background{
  background-color: #AF1F2D;
}

--ion-item-background{
   background-color: #000000;
}

#originsContent {
  display: none;
}

#betweenContent {
  display: none;
}

#presentContent {
  display: none;
}

#racingContent {
  display: none;
}

#showBtn {
  margin: 10px;
}
