<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="themuseum">
      <ion-icon name="business-outline"></ion-icon>
      <ion-label>The Museum</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="history">
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>History</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="collection">
      <ion-icon name="car-outline"></ion-icon>
      <ion-label>Collection</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="news">
      <ion-icon name="newspaper-outline"></ion-icon>
      <ion-label>News</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="location-outline"></ion-icon>
      <ion-label>Contact</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
