<!-- <ion-header style="background-color: white;">
  <a href="https://www.facebook.com/museoalfaromeo" target="_blank"><img src="../../assets/icon/fb.png" height="20px" width="20px" style="margin:10px;"/></a>
  <a href="https://www.instagram.com/museoalfaromeo/" target="_blank"><img src="../../assets/icon/ig.png" height="20px" width="20px" style="margin:10px;"/></a>
  <a href="https://www.tripadvisor.it/Attraction_Review-g1643829-d1906809-Reviews-Museo_Storico_Alfa_Romeo-Arese_Province_of_Milan_Lombardy.html" target="_blank"><img src="../../assets/icon/ta.png" height="20px" width="20px" style="margin:10px;"/></a>
</ion-header>
-->
<ion-header [translucent]="true">
  <ion-toolbar>
    <img src="../../assets/img/arlogo.png" width="50px" style="display:inline-block" height="50px" style="margin-top:20px;margin-left:20px;" />
    <ion-title style="display:inline-block;margin-bottom:20px;">
      <p style="font-size:15px;margin:0px;">LA MACCHINA DEL TEMPO</p>
      <p style="font-size:10px;font-weight:200;margin:0px;">MUSEO STORICO ALFA ROMEO</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="1">
        <span class="slider-nav arrow-prev" (click)="slidePrev(sliderOne,slideWithNav)">
          <div class="prev-icon-custom custon-nav" [class.disabled]="sliderOne.isBeginningSlide"></div>
        </span>
      </ion-col>
      <ion-col size="10">

        <ion-slides pager="true" [options]="slideOptsOne" #slideWithNav (ionSlideDidChange)="SlideDidChange(sliderOne,slideWithNav)">
          <ion-slide *ngFor="let s of sliderOne.slidesItems">
            <img src="../../assets/img/{{s.id}}.jpg">
          </ion-slide>
        </ion-slides>

      </ion-col>
      <ion-col size="1">
        <span class="slider-nav arrow-next" (click)="slideNext(sliderOne,slideWithNav)">
          <div class="next-icon-custom custon-nav" [class.disabled]="sliderOne.isEndSlide"></div>
        </span>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>WELCOME TO MUSEO STORICO ALFA ROMEO</ion-card-subtitle>
      <ion-card-title>LA MACCHINA DEL TEMPO</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <h2 style="color:#AF1F2D">MYTH AND FUTURE. IN A UNIQUE PLACE.</h2>
      The Alfa Romeo Museum has been completely renovated and is even more prestigious. The historical site in Arese has a new look and is opened to public with a refined arrangement that reflects Alfa Romeo's distinctive DNA. Six floors of history
      binding past, present and future and complimenting the achievements of an extraordinary brand, its vehicles, its technology and style.<br /><br />

      <h2 style="color:#AF1F2D">GUARDING THE LEGEND.</h2>
      Lines that have changed the way we imagine design; cars and drivers who set the pace for competition on the track; technologies that have redefined the standards of innovation. Beauty, speed, robustness and steady production: this is Alfa
      Romeo's legacy. It's driving passion, it's evolution, it's our heart.
    </ion-card-content>
  </ion-card>

</ion-content>
